﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Libsense Kütüphane sistemimizle kitapları kolayca arayabilir, ödünç alabilir ve iade edebilirsiniz.</p>

    <img src="~/images/books.jpg" />
        
 </div>        
    
       
<footer class="footer fixed-bottom">
    <div class="container">
        &copy; 2023 - Libsense Library - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>