/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background image for the body */
body {
    background-image: url('library_shelves.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Style the header */
header {
    background-color: rgba(23, 22, 22, 0.7);
    padding: 100px;
    color: #f80400;
}

/* Style the navigation menu */
nav {
    background-color: #e2ccad;
    color: cream;
    padding: 10px;
}

nav a {
    color: cream;
    text-decoration: none;
    margin: 10px;
}

/* Style the content sections */
.content {
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: tomato;
    padding: 20px;
}

/* Style the footer */


/* Style for input fields and buttons */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Additional styles for the registration button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Link styles */
a {
    color: dodgerblue;
}

/* Style for the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

/* Add any additional styles specific to your pages here */

.slider-container {
    overflow-x: scroll;
    white-space: nowrap;
}

.slider {
    display: flex;
    /* flex-wrap: nowrap; Bu satýrý eklemeye gerek yok, zaten varsayýlan deðer nowrap'týr */
    transition: transform 0.5s ease;
}

.slide {
    flex: 0 0 100%; /* Slide'ýn geniþliði */
    box-sizing: border-box;
    text-align: center;
}

    .slide img {
        max-width: 100%;
        max-height: 200px; /* Ýstenilen yüksekliði ayarlayýn */
        margin-bottom: 10px;
    }
footer {
    background-color: #564329;
    color: cream;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}